@model Employee
@{
    ViewData["Title"] = "Details";//Set ???????????
}

<h1>Details</h1>
<h4>Temp: @(int.Parse(ViewData["Temp"].ToString())+10)</h4>
<h4>Temp: @(ViewBag.Temp+10)</h4>

<hr />
<h4>Welcome Msg:  @ViewData["Msg"]</h4>
<h4>Welcome Msg:  @ViewBag.Msg</h4>
<hr />

<select class="form form-control">

    @foreach (var item in (List<string>)ViewData["Branches"])
    {
        <option>@item</option>
    }
</select>

<select class="form form-control">

    @foreach (var item in ViewBag.Branches)
    {
        <option>@item</option>
    }
</select>

<hr />
<br />
<div style="border:2px solid red ;color:@ViewBag.Color">
<h2>@Model.Name</h2>
<h3>@Model.Salary</h3>
</div>
<div style="border:2px solid red ;color:@ViewData["Color"]">
    <h2>@Model.Name</h2>
    <h3>@Model.Salary</h3>
</div>

<!--ViewData Challanges
    1) Magix String "Key"
    2) UnBoxing
-->